<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cl.bootcamp.springedumanager.SpringEduManagerApplication"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="springedumanager"/>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="DB_ENGINE" value="mariadb"/>
    </mapAttribute>
</launchConfiguration>
