<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Acceso denegado</title><link rel="stylesheet" th:href="@{/css/estilo.css}"></head>
<body>
  <div th:replace="~{fragmentos :: cabecera}"></div>
  <main>
    <h2>Acceso denegado</h2>
    <div class="aviso mal">
      Tu cuenta no tiene permisos para entrar a esta seccion.
      La carga de cursos esta reservada al rol <b>ADMIN</b>.
    </div>
    <p>Ingresaste como <b th:text="${#authentication.name}">usuario</b>.</p>
    <p><a class="btn" th:href="@{/cursos}">Volver al listado de cursos</a></p>
  </main>
</body>
</html>
